<mat-card class="mt-5">
  <h3>Login to Create Todo</h3>
  <form [formGroup]="loginForm" class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type = "email" formControlName = "email" matInput  placeholder="Enter your email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" formControlName = "password" matInput placeholder="Enter your password" minlength = "6" required>
    </mat-form-field>

    <div class="text-center">
      <button [disabled] = "loginForm.invalid || isShowSpinner" (click) = "onLogin()" mat-raised-button color = "primary"> Login </button>
      <p class="mt-3"> Don't have an account? <span [routerLink] = "['/', 'auth', 'signin']" class="link"> please, signin here! </span> </p>
    </div>

  </form>
</mat-card>
