<mat-card class="mt-5">
  <h3>Signin to Create Todo</h3>
  <form [formGroup]="signinForm" class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input type = "text" formControlName = "name" matInput  placeholder="Enter your name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Age</mat-label>
      <input type = "number" formControlName = "age" matInput  placeholder="Enter your age" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type = "email" formControlName = "email" matInput  placeholder="Enter your email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" formControlName = "password" matInput placeholder="Enter your password" minlength = "6" required>
    </mat-form-field>

    <div class="text-center">
      <button [disabled] = "signinForm.invalid || isShowSpinner" (click) = "onSignin()" mat-raised-button color = "primary"> Signin </button>
      <p class="mt-3"> Have already an account? <span [routerLink] = "['/']" class="link"> please, login here! </span> </p>
    </div>

  </form>
</mat-card>
